body { 
  background-color: pink;
}


@media screen and (max-width:1000px) {
  .container {
    justify-content: center;
  }
  .one{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-evenly;
  }
}

.header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  background-color: #36141E;
  padding: 10px;
  font-family: "Press Start 2P";
  flex-direction: row;
}

.logo { 
  border: 1px #ccc solid;
  flex: 1/2;
  height: 200px;
  width: 200px;
}

.header h1 { 
  flex: 1/2;
  margin-left: 1rem;
  font-size: 3rem;
  color: white;
}


.wrapper { 
  display: flex;
  margin-top: 15px;
  border: 1px #ccc solid;
  justify-content: center;
  flex-flow: row;
}


.container {
  display:flex;
  max-width: 960px;
  flex-wrap: wrap;
}

.container > div{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.one
{
  flex-basis: 1/3;
  flex-direction: column; 
  justify-content: space-between;
  margin-right: 10px;
}

.one img {
  max-width: 320px;
  max-height: 100%;
  height: 300px;
  width: 2;
  border: 1px black solid;
  border-radius: 4px;
}

.one p {
  background-color: white;
  padding-bottom: 40px;
  max-height: 100%;
  text-align: center;
  font-family: "Odibee Sans";
  font-size: 25px;
  padding-top: 10px;
}




.two {
  display: flex;
  padding: 30px;
  background-color: white;
  flex-direction: column;
  flex-basis: 2/3;
  font-family: "Londrina Solid"
}

.two h2 { 
  font-family: "Odibee Sans";
  font-size: 40px;
}

.jobtitle {
  font-weight: 900;
}

.jobdesc {
  font-weight: 400;
}

.response {
  font-weight: 300;
}