/* body and header section */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');


@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
        url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    text-align: center;
}

h1 {
    font-size: 25px;
    
}

p {
    font-size: 15px;
    margin-top: -5px;

}

.price { 
    font-weight: bold;
    font-size: 16px;
    color: green;
}


body {
    display: flex;
    flex-direction: column;
    height: 100%; 
    background-repeat: repeat;
    background-image: url("/images/gift_shop_page.jpg");
    background-size: 20%;
    background-color: white;
    border-width: 30px;
    margin: 0px;
}

.page_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 90px;

}

.page_logo {
    display: flex;
    background-color: black;
    border-radius: 30px;
    justify-content: center;
    width: 90%;
    border-bottom: pink solid 2px;

}

#logo { 
    display: flex;
    height: 90px;
    width: auto;
}

.arrow_container {
    position: absolute;
    height: 90px;
    margin-right: 85%;
    
}

#arrow {
    height: 90px;
    width: 100px;

}


.shopping_cart  {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 90px;
    margin-left: 85%;
    
}

.notification {
    position: absolute;
    padding-top: 2px;
    width: 30px;
    height: 25px;
    border-radius: 100%;
    background-color: yellow;
    color: black;
    margin-top: 5%;
    margin-left: 60%;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    font-family: Raleway;
}



#cart_logo {
    height: 90px;
    width: 100px;
}

.gift_shop_container {
    display: flex;
    flex-direction: column; 
    margin-top: 4%;
    margin-left: 15%;
    width: 70%;
    height: auto;
}

.container_row { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-bottom: 3%;
}

#graphic_red {
    width: 100%;
    height: 61%;
}
#graphic_black {
    margin-left: 7%;
    width: 85%;
    height: 61%;
}
#graphic_blue {
    width: 100%;
    height: 61%;
}
#graphic_yellow {
    width: 100%;
    height: 61%;
}
#graphic_purple {
    width: 100%;
    height: 61%;
}

.item {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    width: 24%;
    height: 500px;
    background-repeat: no-repeat;
    border: palevioletred dashed 5px;
    color: black;
    background-color: white;
    border-radius: 10%;
    overflow: hidden;
    
}

.item:hover {
    box-shadow: 0 5px 15px black;
    color: salmon;
    
    
}

.add_to_cart {
    height: 30%;
    font-size: 20px;
    font-weight: bold;
    border: 1px dashed pink;
    background-color: pink;
    color: white;
}
.add_to_cart:hover {
    color: black;
}