body {
    display: flex;
    height: 100%;
    border: solid .2cm red;
    background-image: url(/Kaitlins_website/images/mainpage_back.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-size: 15%;
    background-color: white;
}


.listings {
    display: flex;
    border: solid yellow .2cm;;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 40%;
    margin-top: 10%;
    margin-left: 10%;
}

.item_one {
    border: solid black .1cm; 
    width: 30%;
    height: 13cm;

}


.item_two {
    border: solid black .1cm;
    width: 30%; 
    height: 13cm;
    margin-left: 1.5%;
}



.item_three {
    border: solid black .1cm; 
    width: 30%;
    height: 13cm;
    margin-left: 1.5%;
}

.item_four {
    border: solid black .1cm; 
    width: 30%;
    height: 13cm;
    margin-left: 1.5%;
}



.wine {
    font-family:fantasy;
    text-transform: uppercase;
    font-size: 50px;
    width: 100%;
    height: 100%;
    line-height: 12cm;
    text-align: center;
    text-decoration: none;
    color: black; 
    position: relative;
    overflow: hidden;
    background-image: url(/Kaitlins_website/images/wine.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 120%;
    transition: .3s;
    display: block;
}

.wine::before {
    
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .5;
    background: pink;
    top: -100%; 
    left: 0;
    z-index: -1;
    transition: .3s;
}

.wine::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: pink;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .3s;
    transition-delay: .2s;
}

.wine:hover {
    color: white;
    background-image: none;
}

.wine:hover::before {
    top: 0;
}

.wine:hover::after {
    top: 0;
}





.beer {
    font-family:fantasy;
    text-transform: uppercase;
    font-size: 50px;
    width: 100%;
    height: 100%;
    line-height: 12cm;
    text-align: center;
    text-decoration: none;
    color: black; 
    position: relative;
    overflow: hidden;
    background-image: url(/Kaitlins_website/images/beer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 139%;
    transition: .3s;
    display: block;
}

.beer::before {
    
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .5;
    background: pink;
    top: -100%; 
    left: 0;
    z-index: -1;
    transition: .3s;
}

.beer::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: pink;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .3s;
    transition-delay: .2s;
}

.beer:hover {
    color: white;
    background-image: none;
}

.beer:hover::before {
    top: 0;
}

.beer:hover::after {
    top: 0;
}



.liquor {
    font-family:fantasy;
    text-transform: uppercase;
    font-size: 50px;
    width: 100%;
    height: 100%;
    line-height: 12cm;
    text-align: center;
    text-decoration: none;
    color: black; 
    position: relative;
    overflow: hidden;
    background-image: url(/Kaitlins_website/images/liquor.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 145%;
    transition: .3s;
    display: block;
}

.liquor::before {
    
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .5;
    background: pink;
    top: -100%; 
    left: 0;
    z-index: -1;
    transition: .3s;
}

.liquor::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: pink;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .3s;
    transition-delay: .2s;
}

.liquor:hover {
    color: white;
    background-image: none;
}

.liquor:hover::before {
    top: 0;
}

.liquor:hover::after {
    top: 0;
}