body {
    background-color: rgb(245, 245, 241);
}
h1 {
    text-align: center;
    color: black;
}
form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border-radius: 1em;
}

label {
    font-size: 25px;
    text-align: right;
    width: 90px;
    
    

}

input, textarea {
    margin: 0 auto;
    width: 400px;
    border: 2px solid #CCC;
    border-radius: 4px;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: 45%;
}